.about-container {
  padding: 20px;
  text-align: center;
}

.about-extra-info {
  margin-bottom: 20px;
}

.about-extra-info p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: left;
}
.about-image img {
  width: 25%;
  max-width: 25%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.about-more-info {
  margin-top: 20px;
}

.about-more-info p {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: left;
}
